@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  // justify-content: space-between;
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  
  .header-content {
    display: flex;
    // justify-content: space-between;
    gap: 2.5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
  }
  
  .nav {
    a {
      margin-left: 1.5rem;
      text-decoration: none;
      color: #333;
      position: relative;
      
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: #666;
        left: 50%;
        bottom: -6px;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }
      
      &:hover:after {
        width: 100%;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;

  .content {
    display: flex;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    
    .sidebar {
      width: 250px;
      background-color: white;
      padding: 1.5rem;
      box-sizing: border-box;
      text-align: center;

      .profile-container {
        margin-bottom: 1rem;
      }

      .profile-pic {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto 1rem;
        border: 3px solid #f5f5f5;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      }

      .name {
        font-weight: 700;
        margin: 0.5rem 0;
        font-size: 1.4rem;
      }

      .title {
        font-weight: 500;
        margin: 0.2rem 0;
        color: #777;
      }

      .location {
        font-weight: 400;
        margin: 0.2rem 0;
        color: #777;
        font-size: 0.9rem;
      }

      .contact-links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0 0 0;
        flex-wrap: wrap;

        .contact {
          display: flex;
          align-items: center;
        }

        // li {
        //   display: flex;
        //   align-items: center;
        //   padding: 0.3rem 1rem;
        //   text-align: left;
        // }

        .icon {
          margin-right: 0.5rem;
          width: 1.5rem;
        }

        .link {
          text-decoration: none;
          color: #333;
          transition: all 0.3s ease;
          font-weight: 400;
          font-size: 0.9rem;
          position: relative;
          
          // &:after {
          //   content: '';
          //   position: absolute;
          //   width: 0;
          //   height: 1px;
          //   background: #666;
          //   left: 0;
          //   bottom: -2px;
          //   transition: all 0.3s ease;
          // }
          
          // &:hover:after {
          //   width: 100%;
          // }
        }

        .email .icon {
          color: #8f8f8f;
        }
        .github .icon {
          color: #333;
        }
        .linkedin .icon {
          color: #0077b5;
        }
        .scholar .icon {
          color: #6193eb;
        }
        .cv .icon {
          color: #606060;
        }

        @media (max-width: 768px) {
          li {
            justify-content: center;
            padding: 0.5rem 1rem;
          }
          
          .link {
            font-size: 1rem;
          }
        }
      }
    }

    main {
      flex: 1;
      padding: 1.5rem;
      background: white;
      .section {
        margin-bottom: 3rem;
        .section-title {
          margin: 1rem 0 1rem 0;
        }
        .about-content {
          .about-text {
            p {
              font-weight: 500;
              line-height: 1.8;
              strong {
                font-weight: 900;
              }
            }
          }
          .education-item {
            .degree{
              font-size: 1rem;
              margin-bottom: 0.5rem ;
            }
            .duration{
              margin: 0;
              font-family: Helvetica, sans-serif;
              padding: 0;
              color: #777;
            }
          }
        }

        .news-container{
          background-color: #f5f5f5;
          padding: 1rem 1rem 0rem 1rem;
          border-radius: 6px;

          .news-item {
            display: flex;
            padding: 1rem;
            border-radius: 8px;
            transition: all 0.3s ease;
        
            .news-date {
              flex: 0 0 100px;
              font-weight: 900;
              color: #555;
            }
        
            .news-content {
              flex: 1;
              h4 {
                margin-top: 0;
                margin-bottom: 0.5rem;
              }
        
              p {
                margin: 0;
                font-size: 0.95rem;
                color: #666;
              }
            }
          }

          .news-toggle-button {
            width: 100%;            
            border-color: transparent;
            background-color: transparent;
            cursor: pointer;
            margin-bottom: 0;
          }
        }

        .publications-container {
          padding: 0;
        
          .publication-item {
            display: flex;
            transition: all 0.3s ease;
            margin: 1rem 0;
        
            .publication-teaser {
              position: relative;
              width: 180px;
              height: 135px;
              margin-right: 1.5rem;
              overflow: hidden;
              border-radius: 6px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
              
              .publication-labels {
                position: absolute;
                top: 8px;
                left: 0px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                z-index: 3;

                .label {
                  width: 110px;
                  height: 20px;
                  box-sizing: border-box;
                  padding: 0 6px;
                  border-radius: 1px;
                  font-size: 0.7rem;
                  line-height: 20px;
                  font-weight: 700;
                  letter-spacing: 0.03em;
                  text-transform: uppercase;
                  color: #fff;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .type-full-paper {
                  background-color: #233457;
                }

                .type-short-paper {
                  background-color: #2b573b;
                }

                .type-poster {
                  background-color: #684985;
                }

                .award-label {
                  background: #ffd736;
                  color: #3b1f05;
                }
              }

              img {
                width: 100%;
                height: auto;
                aspect-ratio: 4/3;
                object-fit: cover;
                border-radius: 6px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.1s ease;
                
                &:hover {
                  transform: scale(1.02);
                }
              }

              .publication-overlay {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.2s ease;
                pointer-events: none;
                z-index: 2;

                .overlay-backdrop {
                  position: absolute;
                  inset: 0;
                  background: rgba(0, 0, 0, 0.35);
                }

                .conf-image {
                  opacity: 0.9;
                  position: relative;
                  max-width: 145px;
                  max-height: 145px;
                  object-fit: contain;
                  background-color: white;
                  border-radius: 4px;
                }
              }

              &:hover {
                .publication-overlay {
                  opacity: 1;
                }
              }

            }
        
            .publication-details {
              flex: 1;
              
              .publication-title {
                font-size: 1rem;
                font-weight: 700;
                margin: 0;
                
                .publication-status {
                  font-family: Helvetica, sans-serif;
                  font-size: 0.9rem;
                  font-weight: 400;
                  color: #777;
                }
              }
              p {
                margin: 0.5rem 0 0 0;
              }
              .publication-authors {
                font-family: Helvetica, sans-serif;
                font-size: 0.9rem;
                strong {
                  text-decoration: underline;
                }
              }
              .publication-venue {
                font-family: Helvetica, sans-serif;
                font-style: italic;
                font-size: 0.9rem;
                color: #777;
              }
        
              .publication-links {
                margin-top: 0.5rem;

                a {
                  display: inline-block;
                  margin-right: 0.7rem;
                  color: #4e96ca;
                  font-size: 0.9rem;
                  font-weight: 600;
                  
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      
      .map-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        .map-container {
          width: 400px;
        }
      }
    }
  }

  .footer {
    background-color: white;
    padding: 1.5rem 2rem;
    text-align: center;
    border-top: 1px solid #eee;
    margin-top: auto;
    
    .copyright {
      font-size: 0.75rem;
      color: #555;
      margin-bottom: 0.5rem;
    }
    
    .last-update {
      font-size: 0.75rem;
      color: #777;
      font-style: italic;
    }
  }

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      .sidebar {
        width: 100%;
        text-align: center;
      }

      main {
        padding: 1rem;
        .publication-teaser {
              width: 120px;
              height: 90px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header-content {
      padding: 1rem;
    }
    .nav {
      a {
        display: block;
        margin: 0.5rem 0;
      }
    }
  }
}
